{
    "editor.fontSize": 16,
    "workbench.iconTheme": "eq-material-theme-icons",
    "files.associations": {
        "*.l": "lex",
        "*.cu": "cpp",
        "*.s": "muchassemblyrequired"
    },
    "window.zoomLevel": 0,
    "terminal.integrated.fontFamily": "Fira code",
    "terminal.integrated.fontSize": 14,
    "workbench.colorTheme": "Atom One Dark",
    "python.pythonPath": "/usr/local/bin/python",
    "shellformat.path": "/Users/workfunction/go/bin/shfmt",
    "editor.fontFamily": "Fira Code",
    "editor.lineHeight": 25,
    "editor.rulers": [80],
    "arduino.path": "/Applications",
    "arduino.additionalUrls": "/Users/workfunction/Workspace/Arduino/Libraries/Timer",
    "arduino.logLevel": "info", 
    "arduino.enableUSBDetection": true,
    "editor.formatOnSave": true,
    "clang-format.executable": "/opt/local/libexec/llvm-devel/bin/clang-format"

}
